* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

button {
  border: none;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.hidden {
  display: none;
}

.container {
  width: 65% !important;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background: white;
}

.mobile-btn {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 69;
}

#mobile-menu {
  width: 50%;
  height: 100vh;
  padding-top: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  color: #eee;
  z-index: 99;
}

#mobile-menu > div {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-menu > ul a li {
  padding: 5px 10px;
}

#close-btn {
  color: #333;
  font-size: 20px;
}

#scrollToTop {
  background: transparent;
  color: #6c55e0;
  font-size: 50px;
  border-radius: 50%;
  opacity: 0;
  position: fixed;
  bottom: 8%;
  right: 3%;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #6c55e0;
}

.header-menu ul {
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.header-menu ul li {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header-menu ul li:hover {
  background: #eee;
}

.header-menu ul li a:hover {
  color: #6c55e0;
}

main {
  height: 500px;
}

.banner {
  height: 500px;
  background-image: url('./banner.jpg');
  background-size: cover;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.banner-img {
  width: 300px;
  object-fit: contain;
  /* border-radius: 50%; */
}

.banner-content {
  display: flex;
  width: 45%;
}

.banner-info {
  width: 100%;
}

.banner-hi {
  margin-bottom: 10px;
  background: white;
  color: #333;
  font-size: 40px;
  font-weight: 600;
  border-radius: 4px;
}

.banner-introduce {
  margin-bottom: 10px;
  color: #999;
  font-size: 20px;
  font-weight: 500;
}

.banner-desc {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.banner-btn {
  width: 170px;
  height: 50px;
  margin-bottom: 30px;
  background: #6c55e0;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.banner-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: white;
}

.banner-btn a i {
  margin-left: 10px;
}

.banner-socials {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-right: 40px;
}

.banner-socials .banner-link {
  margin-bottom: 20px;
  color: #6c55e0;
}

.banner-link i {
  margin-right: 10px;
  font-size: 24px;
}

.about-wrapper {
  padding: 50px 0;
  background: #6c55e0;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 200px;
  color: #fff;
}

.about-sub {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.about-img {
  width: 100%;
  border-radius: 10px;
}

.about-heading {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.about-desc {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 30px;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.about-info-numb {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.about-info-desc {
  font-size: 16px;
  font-weight: 500;
}

.about-btn {
  width: 170px;
  height: 50px;
  margin-bottom: 30px;
  background: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}

.about-btn a {
  color: #6c55e0;
}

.about-btn a i {
  margin-left: 10px;
}

.portfolio {
  padding: 30px 0 60px;
  text-align: center;
}

.portfolio-heading {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.portfolio-sub {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 500;
  color: #999;
  text-align: center;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  row-gap: 80px;
}

.portfolio-list > a {
  overflow: hidden;
  border-radius: 8px;
  border-radius: 1px solid #777;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.portfolio-img {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.portfolio-list div {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 15px;
}

.portfolio div p {
  margin-bottom: 5px;
}

.portfolio-list button {
  background: white;
  color: #6c55e0;
  font-size: 14px;
}

.contact-banner {
  display: flex;
  align-items: center;
  padding: 60px 0;
  color: white;
  background: #fff;
}

.contact-banner .container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #6c55e0;
  border-radius: 20px;
}

.contact-banner .container > div {
  width: 60%;
}

.contact-banner-heading {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 40px;
}

.contact-banner-img {
  width: 200px;
}

.contact-banner-btn {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 5px;
}

.contact-banner-btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: #6c55e0;
}

.contact-banner-btn a i {
  margin-left: 10px;
}

.contact-img2 {
  display: block;
  width: 150px;
  margin-bottom: 20px;
}

.slide3 img {
  width: 100%;
}

.services {
  padding: 50px 0;
  text-align: center;
  background: #eee;
}

.services-heading {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #333;
}

.services-sub {
  margin-bottom: 50px;
  color: #333;
  font-weight: 600;
}

.testimonials {
  padding: 50px 0;
  background: #6c55e0;
}

.testimonials-heading {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
}

.testimonials-sub {
  margin-bottom: 40px;
  text-align: center;
  color: white;
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.testimonials-list > div {
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.testimonials-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonials-top > div {
  display: flex;
}

.testimonials-item-img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials-item-name {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.testimonials-item-sub {
  font-size: 14px;
  color: #999;
}

.testimonials-stars i {
  margin: 0 4px;
  color: #6c55e0;
}

.testimonials-desc {
  color: #333;
}

.contact-wrapper {
  padding: 50px 0;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.contact-info > div {
  display: flex;
  margin-bottom: 20px;
}

.contact-info > div i {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  font-size: 28px;
  color: #6c55e0;
}

.contact-info-heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.contact-info-sub {
  color: #999;
}

.form-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

#contact-form {
  display: grid;
  row-gap: 20px;
}

#contact-form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0eefc;
  color: #999;
  font-size: 16px;
}

.form-message {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f0eefc;
  color: #999;
  font-size: 16px;
}

#contact-form button {
  width: 300px;
  height: 40px;
  background: #6c55e0;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

footer {
  padding: 40px 0;
  background: #6c55e0;
  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-info {
  width: 30%;
}

.footer-name {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.footer-desc {
  line-height: 30px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer-socials li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: white;
  color: #6c55e0;
  border-radius: 50%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: 18px;
}

.footer-copyright {
  margin-top: 80px;
  text-align: center;
}

.slideshow-container {
  height: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  height: 500px;
  padding: 60px 0;
}

.slide1 {
  background: url('/banner.jpg');
  background-size: cover;
}

.slide2 {
  background: url('https://garden.spoonflower.com/c/11788370/p/f/m/To04PszQ2eJ69qf_6xj9saNtBI63EApS9D7kjgDo1tKmtTcMR1RptR0/Light%20Blue%20Solid%20coordinate%20-%20baby%20blue%2C%20sky%20blue%2C%20pastel%20blue%20.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide2-text {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-me-btn {
  width: 300px;
  height: 40px;
  background: #0779e4;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
}

.contact-me-img {
  width: 400px;
  height: 400px;
  margin-right: 40px;
  border-radius: 20px;
}

.contact-me-btn {
}

.mySlides .container {
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
  cursor: pointer;
}

.modal-content > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  height: 100%;
}

.modal-img {
  height: 100%;
  object-fit: cover;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.carousel-container {
  position: relative;
}
@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}
.service-carousel {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card-container {
  width: 280px;
  height: auto;
  flex-shrink: 0;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .card-container {
    width: 184px;
  }
}
.card {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: white;
  border: 1px solid #eee;
  border-radius: 10px;
}

.card img {
  width: 50%;
  margin-bottom: 20px;
}

.nav button {
  position: absolute;
  top: 60%;
  transform: translatey(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #6c55e0;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
}

.nav button i {
  font-size: 20px;
}
.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}
